@font-face {
    font-family: underdog;
    src: url(./fonts/underdog-regular-webfont.woff) format('woff'),
    url(./fonts/underdog-regular-webfont.woff2) format('woff2');
}

body {
    background: linear-gradient(black, white, black);

}
nav {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 2em 0;
}

.nav-button {
    font-size: 2em;
    padding: 0.5em 1em;
    color: darkslategrey;
    background-color: grey;
}

#content {
    background: linear-gradient(darkslategray, darkgray);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
}
/* Home css */
.heading, .subheading {
    font-size: 1.5em;
    color: rgb(99, 112, 125);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading {
    margin-left: 5em;
}

.catchphrase {
    padding-top: 1.5em;
    font-size: 2em;
    color: rgb(26, 48, 48);
}

.restaurantName {
    font-family: underdog;
    color: rgb(15, 25, 25);
    font-size: 2em;
}

.interior {
    margin: 4em 0;
    width: 80%;
    align-self: center;
}

/* footer css */
.footer {
    display: grid;
    grid-template-columns: 7fr 2fr 1fr 1fr;
    align-items: baseline;

    background-color: blanchedalmond;
    padding: 16px 16px 16px 16px;
}

.left {
    align-self: center;
    font-size: 1.5em;
}

.phone, .email, .address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text {
    font-size: 1.25em;
}

/* Menu css */
.cuisine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.cuisineName {
    font-size: 1.75em;
    text-decoration: underline;
}

.menuItem {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 16px 0;
}

.dishName {
    font-size: 1.25em;
}

.dishDescription {
    font-size: 0.75em;
}

.dishPrice {
    width: 65px;
    justify-self: flex-end;
}